<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/regist.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>

<body>
<div class="wrapper">
    <article>
        <h1><em>SmallWhite</em><span>网盘用户注册</span></h1>
        <div class="main">
            <form method="post" action="http://localhost:8088/register">
                <div class="tel">
                    <input id="phone" type="tel" name="phone" placeholder="手机号"><em>由11个字符组成！</em>
                </div>
                <div class="userName">
                    <input id="name" type="text" name="name" placeholder="用户名"><em>由5-8个字符组成！</em>
                </div>
                <div class="password">
                    <input id="pwd1" type="text" name="password" placeholder="密码"><em>使用字母、数字、符号两种及以上的组合，8-12个字符</em>
                </div>
                <div class="againpwd">
                    <input id="pwd2" type="text" name="repassword" placeholder="再次输入密码" onblur="pwd()"><em>确保两次密码一致</em>
                </div>
                <div class="submit">
                    <input type="submit" id="btn" onclick="click()">注册</button>
                </div>
            </form>
        </div>
    </article>
    <footer>
        <ul>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">人才招聘</a></li>
            <li><a href="#">友情链接</a></li>
            <li><a href="#">公司地址</a></li>
            <li><a href="#">关注我们</a></li>
        </ul>
        <p>本网站版权归SamllWhite技术有限公司所有</p>
    </footer>
</div>
<script>
    function pwd() {
        var pwd1 = document.getElementById("pwd1").value;
        var pwd2 = document.getElementById("pwd2").value;
        if (pwd1 !== pwd2) {
            alert("两次输入的密码不一致,请重新注册！");
            window.location.reload();
        };
    };
</script>
<script>
    function click() {
        var pwd1 = document.getElementById("pwd1").value;
        var pwd2 = document.getElementById("pwd2").value;
        var phone = document.getElementById("phone").value;
        var name = document.getElementById("name").value;
        if (pwd1 == "" || pwd2 == "" || phone == "" || name == "") {
            alert("有信息未填写，请重新注册");
            window.location.reload();
        };
    };
</script>
</body>

</html>