doctype html
html(lang='jade')
  head
    meta(charset='UTF-8')
    title 云盘
    link(rel='stylesheet', type='text/css', href='../css/pan.css')
    script(type='text/javascript', src='../js/jquery.min.js')
  body
    table
      thead
        tr
          th 文件名
          th 下载
          th 删除
      tbody
        each item in resource
          tr
            td  #{item.name}
            td
            td
              a.btn.btn-danger.del(type="button", href="/delete?id=#{item.id}") 删除


